*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn{
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid purple;
    background: rgb(88, 15, 88);
    color: white;
}
.className{
    text-align: left;
}
input{
    width: 70px;
}
